
@{
    ViewBag.Title = "Sınav Notu Giriş";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Öğrenci No:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Öğrenci numarasını giriniz.">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Ders No:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Ders'in kod numarasını giriniz.">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Sınav No:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Sınav'ın kod numarasını giriniz.">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-2 control-label">Not:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Öğrenci'nin aldığı notu nümerik olarak giriniz.">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
        </div>
    </section>
</section>